<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.imdemo.imdemo">
    
    <permission
        android:name="com.victor.imdemo.imdemo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.victor.imdemo.imdemo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Required SDK核⼼功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.victor.imdemo.imdemo" />
            </intent-filter>
        </activity>
        <!-- Required SDK核⼼功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK 核⼼功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。⽤于同⼀设备中不同应⽤的JPush服务相互拉起的功能。 -->
        <!-- 若不启⽤该功能可删除该组件，将不拉起其他应⽤也不能被其他应⽤拉起 -->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter >-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="您应⽤的包名"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!-- Required SDK核⼼功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action
                    android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--Required 显
⽰通知栏 -->
                <category android:name="com.victor.imdemo.imdemo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核⼼功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- User defined. ⽤户⾃定义的⼲播接收器-->
        <!--<receiver-->
            <!--android:name="jPushReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;-->
<!--Required ⽤户注册SDK的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.UNREGISTRATION" />-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
                <!--&lt;!&ndash;Required ⽤户接收SDK消息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"-->
                    <!--/> &lt;!&ndash;Required ⽤户接收SDK通知栏信息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"-->
                    <!--/> &lt;!&ndash;Required ⽤户打开⾃定义通知栏的intent&ndash;&gt;-->
                <!--<action-->
                    <!--android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> &lt;!&ndash;Optional ⽤户接受Rich Push Javascript 回调函数的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<category android:name="com.victor.imdemo.imdemo" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="ad108a27e43e0674be7ee5a3" /> <!-- </>值来⾃开发者平台取得的AppKey-->


        <activity
            android:name=".client.home.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <service android:name=".client.home.CoreService">

            <intent-filter>
                <action android:name="android.intent.action.CoreService" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
    </application>

</manifest>
